.env
venv/
tf_env/
venv_tens/
notebooks/DataCoSupplyChainDatasetRefined.csv
notebooks/weather_data.csv
pharmaceutical_supply_chain.csv.env
venv/
tf_env/
venv_tens/
notebooks/DataCoSupplyChainDatasetRefined.csv
notebooks/weather_data.csv
pharmaceutical_supply_chain.csv
venv/
tf_env/
venv_tens/
notebooks/DataCoSupplyChainDatasetRefined.csv
notebooks/weather_data.csv
pharmaceutical_supply_chain.csv
